[2016-01-31 19:55] ckuhn203 opened #1 "Graceful degradation for News Feed"
The current implementation of the News Feed page will break if the client has JavaScript disabled.
Change the implementation so that it does it the slow way when js is disabled.

http://stackoverflow.com/a/7543905/3198973

[2016-02-08 00:39] ckuhn203 opened #2 "Add link to Git COM API to features page"
Right around here

[2016-02-08 02:57] retailcoder opened #3 "Pictures are too wide"
Pictures aren't scaling to the page size, and on a phone they bleed off the features and about page, which then lets user scroll to the right, ...which reveals another problem: the top bar (black area) doesn't fit the whole page width.

A patch-fix could be to make the pictures smaller to better fit the pages.

The real fix would be to do whatever it takes for the width of the top bar to _dictate_

[2016-02-08 03:20] retailcoder opened #4 "Contact database"
The WebSiteBuilder site's *contact* form had an "opt-in" checkbox that 20 people checked so far. I copied that list onto an Excel workbook, but we'll need to import that list into a contact database, and the *contact* page should reinstate that "keep me updated" checkbox so we can send all these people an email when we release a new version - that's what they signed up for after all.

[2016-02-08 04:08] retailcoder opened #5 ""Rubberduck this""
Let's reference the latest Rubberduck build (or should it be the latest *release* build?), and add a "Rubberduck this" page, where the user can paste some VBA code in a fancypants textbox with prettified code, and we grab that, mock up a VBE environment exactly like we do in the `Rubberduck.Tests` project (we'll have to duplicate the mocking code, or reference the test project too), and then run c

[2016-02-08 10:49] ckuhn203 commented on #5
I was actually thinking about this last night. I'm unsure if we should use the last release, or the current build. I couldn't make up my mind.

[2016-02-08 12:27] ckuhn203 commented on #3
Should be a simple fix. I think all we need to do is add `.img-responsive` class to the image elements.

 http://getbootstrap.com/css/

[2016-02-08 12:49] ckuhn203 opened #6 "Install wordpress to new subdomain blog.rubberduckvba.com"
Let's migrate away from wordpress.com and use our own domain for the blog.

[2016-02-08 13:15] ckuhn203 opened #7 "Permanently redirect .html pages to mvc controllers"
http://rubberduck-vba.com/news.html redirects to http://rubberduckvba.com/news.html, which results in a 404.

http://stackoverflow.com/q/16979234/3198973 should help us do that for all five of the old pages.
- [ ] Features.html => ~/Features/
- [ ] Home.html => ~/
- [ ] Contact.html => ~/Contact/
- [ ] About.html => ~/About/
- [ ] News.html => ~/News

[2016-05-02 00:32] retailcoder commented on #4
I emailed all the people in that list when we released the 2.0 preview build, and then destroyed the list. We no longer have anyone's emails. Closing this issue.

[2016-05-02 00:32] #4 closed

[2016-05-27 17:02] #5 closed

[2016-06-10 15:34] ThunderFrame opened #13 "Code Explorer context menu should allow launching Project Properties"
Ideally it would be a Rubberduck Project Properties form, but the standard Project Properties dialog needs to be accessible in order for CE to fully replace PE. If we can't luanch the dialog programatically, then we can proxy the commandbar button?

[2016-06-10 15:35] retailcoder commented on #13
Wrong repository?

[2016-06-10 15:35] ThunderFrame commented on #13
gahhh
wrong project

[2016-06-10 15:35] #13 closed

[2016-06-10 15:37] ThunderFrame commented on #13
nudges PRs

[2016-06-16 06:11] PeterMTaylor opened #14 "Optional feature for RubberduckWeb - use URL to parse VBA"
Can optionally select an URL with VBA code into the web parser
But also the URL can be a valid GitHub or gitcode base either a bas/cls to check

[2016-06-16 09:42] ckuhn203 commented on #14
Can you clarify a bit how you'd like this to behave?

[2016-06-16 12:30] PeterMTaylor commented on #14
Sure. I'll have a go explaining it this way... I was inspiried by this idea when about to give @Hosch250 my test file thinking about the rubberduckweb.

**Story:** Optionally allow the user specify which URL to parse using RubberduckWeb
_As a_ user of browsing the RubberduckWeb parser, _I want to_ explore several VBA code snippets shown using several URL's _so that_ I could evaluate which VBA code

[2016-06-16 14:04] retailcoder commented on #14
Seems like something that could get very complicated, very fast.

[2016-06-16 16:40] ckuhn203 commented on #14
Beyond how complicated it would be to figure out what is text and what is code on *arbitrary* websites and translating HTML to valid VBA code, this would open up the site to XSS attacks. I'm sorry. This one just isn't going to happen. It's a security risk for our users. I don't feel it's an undue burden to copy paste some code into the browser.

[2016-06-16 16:40] #14 closed

[2016-06-16 16:42] Hosch250 commented on #14
Also, putting code in URL's would be a GET call, and GET can't send nearly as much data as POST calls, like we use when you manually enter code in the website.

[2016-06-16 21:32] PeterMTaylor commented on #14
Fair enough folks. At least this option is explored and views are presented and recorded therein.

[2016-06-17 00:36] ckuhn203 commented on #14
@PeterMTaylor, please don't think we're trying to be rude. It's just that... Well, our "job" is often very much about saying no to features that sound like a good idea, but don't fit with the overall goals and architecture of the project. It sucks, but it's also the reality and responsibility we have.

As my cohorts cringe because I've not made a commit in nearly a year...

[2016-06-17 00:56] retailcoder commented on #14
@ckuhn203 well... this very repository wouldn't exist without your contributions, as sporadic as they might be!

[2016-06-17 01:14] PeterMTaylor commented on #14
@ckuhn203 not upset at all. It's a learning curve for me to reignite my IT skills as I hadn't used it for a long time and things have changed a lot. I'm looking for a different way by helping out. I more or less expect my ideas a bit on the wild side however appreciated the positive feedback along the way that I do receive so I know I can improve this art of programming in some way, especially kno

[2016-12-12 18:14] ckuhn203 opened #18 "Disable Project & Module naming inspections"
The web inspections is triggering a few informational inspections that should probably be disabled for web, because we're the ones providing the VBProject and Module. I've not looked at the web implementation, but I'm assuming it's a matter of configuration.

![image](https://cloud.githubusercontent.com/assets/2716800/21110779/a3141bfe-c06c-11e6-923e-e09a50340ac5.png)

[2016-12-12 18:16] retailcoder commented on #18
We'd have to cherry-pick inspection results' `Target.DeclarationType` and filter out `DeclarationType.Project` and `DeclarationType.ProceduralModule` to get these ones out of the way without outright disabling that inspection.

[2016-12-12 18:19] ckuhn203 commented on #18
Ahh. Not as simple as I thought. Cloning now.

[2016-12-12 18:19] EBrown8534 commented on #6
Do we want to self-author this in the current website (`/Blog`) or use a separate piece of software for it?

[2016-12-12 18:22] retailcoder commented on #7
FWIW I'm not going to be renewing the original rubberduck-vba.com domain when it expires in February.

[2016-12-12 18:23] EBrown8534 commented on #18
The results are currently of type `ICodeInspectionResult`, how trivial would it be to get the `Target.DeclarationType` from that?

[2016-12-12 18:40] ckuhn203 commented on #18
Dirty hack incoming @EBrown8534, just a sec.

[2016-12-12 18:41] EBrown8534 commented on #18
@ckuhn203 Alright, but I just fixed it, committing to my fork then adding PR...;)

[2016-12-12 18:48] ckuhn203 commented on #18
Oops. Just submitted #20 @EBrown8534...

[2016-12-12 18:50] retailcoder commented on #18
...let's see which dirty hack is the cleanest :racehorse:

[2016-12-12 18:50] EBrown8534 commented on #18
@ckuhn203 It's all good, if you don't mind merge the PR you made and I'll move that code to the view to line up better with MVC's style, I also fixed another issue in my fix (which I haven't PR'd yet) which is "No issues were found" should display when no inspection results are returned.

Likewise, are we sure we don't want to use the method @retailcoder suggested? It's quite trivial:

[2016-12-12 18:53] retailcoder commented on #18
@EBrown8534 that might remove inspection results where `Target` is `null` though; I like @ckuhn203's solution, which hardwires the actual inspection type. After all, we *are* looking at one specific inspection.

[2016-12-12 18:53] #18 closed

[2016-12-12 19:06] comintern commented on #18
Are the inspections running with the default settings?  Wouldn't it be easier to just set the severity to "Ignore"?

[2016-12-12 19:08] retailcoder commented on #18
@comintern they are. But that would disable the inspection altogether, not just filter out the specific results about the test module / test method names.

[2016-12-12 19:08] ckuhn203 commented on #18
@comintern that would disable all of the `UseMeaningfulName` inspections, so we would miss bad variable names.

[2016-12-12 21:21] ckuhn203 commented on #6
It was a *long* time ago, but was thinking of just migrating the wordpress.com blog to a self hosted Wordpress site at blog.rubberduckvba.com. Honestly, probably not ever going to be a big deal.

[2016-12-12 21:42] #6 closed

[2016-12-13 17:10] retailcoder opened #21 "Smart Indenter live demo"
Similar to the inspections page, the indenter page needs a place to paste some code and click a button to apply indenter settings.

![image](https://cloud.githubusercontent.com/assets/5751684/21150465/09fb2e78-c12d-11e6-8c4c-ced5ba064af7.png)

The indented code should update accordingly with the specified settings, as the user tweaks them - just like in the Rubberduck indenter settings page.

[2016-12-13 17:16] retailcoder commented on #21
The settings form would actually replace the screenshot.

[2016-12-13 17:22] retailcoder opened #22 "Code Inspections need a "busy" indicator"
A *lot* is going on upon clicking that [inspect] button. While it often happens very fast, or *reasonably* fast, sometimes (especially the initial run, or if a lot of code is involved, or if lots of inspection results get spawned) it can take quite a while.

Let's add a "busy" indicator to indicate we're working on it.

[2016-12-13 17:26] EBrown8534 commented on #22
This will be fixed in the next PR.

[2016-12-13 17:29] EBrown8534 commented on #21
Do we want to make the settings look as close (layout wise) to the screenshot as possible?

Do we want a serializable version of the settings that can be passed to the actual RD configuration system? (Assuming this is possible.)

[2016-12-13 17:38] retailcoder commented on #21
The RD settings page ViewModel creates an indenter instance every time it refreshes the preview box:

https://github.com/rubberduck-vba/Rubberduck/blob/next/RetailCoder.VBE/UI/Settings/IndenterSettingsViewModel.cs#L267-L277

        public string PreviewSampleCode
        {
            get
            {
                var indenter = new Indenter(null, GetCurrentSettings);

                var lin

[2016-12-13 17:38] #22 closed

[2016-12-13 17:39] EBrown8534 commented on #21
Beautiful.

Do we already have an import/export feature on settings? If not, I'll add an issue on the other project for it. That would definitely be a nice feature.

[2016-12-13 17:43] retailcoder commented on #21
Ah, I see what you mean. Unfortunately that's not implemented (yet) in RD. I mean, the settings *are* serialized to XML, but there's much more to it than just the indenter settings.

We're talking about a feature that lets you export the indenter settings from the website and import them to your desktop rubberduck, right?

[2016-12-13 17:44] EBrown8534 commented on #21
Yes. It would be trivial to serialize and send them from web -> computer file, but if there's nothing to get them to go from file -> RD, then there's no point (yet) in creating that feature on the web side.

[2016-12-13 17:52] retailcoder commented on #21
Hold that thought, then. I think it's a good idea, but it would make more sense to implement it once we ship a RD build that includes that "import indenter settings from file" button.

[2016-12-13 17:54] comintern commented on #21
@retailcoder - Open an RD issue for it so I don't forget - the groundwork is there in `XmlPersistanceService<T>`, it just needs something to pass it a FilePath parameter.

[2016-12-13 17:55] EBrown8534 commented on #21
Absolutely. I'll create the Smart Indenter on the website, but we'll hold off on the export feature until RD is ready to accept imports, *then* I'll look into the serialization of settings. Until then I'll make the web form layout *as close to* the form layout as possible, so settings are easy to copy/paste.

[2016-12-13 18:07] EBrown8534 commented on #7
I think it's prudent just to close this, this cannot be resolved by the method posted by @ckuhn203 without making IIS configuration changes. (`.HTML` pages don't call the managed handlers in IIS, which means it just looks for that static page.) The best we could do is create an HTML page that contains the following:

    <meta http-equiv="refresh" content="0;URL='/newpage/'" />

But this would mea

[2016-12-13 18:11] #7 closed

[2016-12-13 18:12] retailcoder commented on #3
This doesn't appear to be a problem anymore.

[2016-12-13 18:12] #3 closed

[2016-12-15 18:01] retailcoder commented on #2
A link to [this](https://github.com/rubberduck-vba/Rubberduck/wiki/Source-Control-API), basically.

[2016-12-15 22:55] ckuhn203 commented on #2
Yes.

[2016-12-16 01:14] retailcoder opened #26 "We need a 404 page"
@ThunderFrame had an awesome idea: use VBA's runtime error dialog for it:

![wverq](https://cloud.githubusercontent.com/assets/5751684/21248113/a40fc786-c302-11e6-940b-f3e33d13e2d1.png)

Let's display that, and make the buttons clickable (could we overlay actual buttons? would it look the same on mobile?): "End" goes to the home page, and "Debug" goes to this repository (some kind of Easter egg).

[2016-12-16 01:16] ThunderFrame commented on #26
[code]

[2016-12-16 01:19] Hosch250 commented on #26
Looks good in FF.

[2016-12-16 01:20] retailcoder commented on #26
Hmm, what ahould "help" link to?

[2016-12-16 01:26] ckuhn203 commented on #26
This is completely genius!!

Help should link to the issues page of the website to report the broken link?

[2016-12-16 01:38] comintern commented on #26
Help could link to [the Wikipedia page for HTTP 404](https://en.wikipedia.org/wiki/HTTP_404).

[2016-12-16 08:31] EBrown8534 commented on #26
How's this?

http://i.stack.imgur.com/iW5xb.png

[2016-12-16 15:16] retailcoder commented on #26
@EBrown8534  that's thoroughly awesome!!

How about adding a bullet-list description of what each button does, e.g.

[2016-12-16 15:32] retailcoder opened #27 "Expose the version of the referenced build via HTTP GET"
Now that RDWEB references an actual RD build, we could use that to implement a version check in Rubberduck.

Let's expose a controller method that returns a string representing the RD build version that's running on the website; Rubberduck could then send a HTTP GET request and compare its build version against it, and know whether to prompt the user to upgrade.

Of course this means pushing an un

[2016-12-16 15:49] EBrown8534 commented on #26
@retailcoder I think we should swap Help and Debug in your list.

[2016-12-16 15:53] retailcoder commented on #26
@EBrown8534 I see how. I agree. :+1:

[2016-12-16 15:58] EBrown8534 commented on #27
/Build/Version/Stable
    /Build/Version/Experimental

[2016-12-16 16:04] retailcoder commented on #27
@EBrown8534 there's only one Rubberduck.dll assembly referenced though... I was thinking of simply exposing what we're currently showing above the *try it!* inspections box

[2016-12-16 16:06] EBrown8534 commented on #27
We can do `/Build/Version`, but I'd prefer to at least use `/Stable` especially if the goal is to do update  checking.

[2016-12-16 16:09] EBrown8534 commented on #27
The question is: how should we deal with all the RD libraries being potentially different versions? Should we, instead of `/Stable` use `/Rubberduck.dll`, `/Rubberduck.Parsing.dll`, et. al.?

[2016-12-16 16:12] retailcoder commented on #27
@Ebrown8534 the version that RD displays in the splash form at startup is the build of the Rubberduck.dll library; the other libraries are just dependencies, basically.

[2016-12-16 16:36] #26 closed

[2016-12-16 16:36] #27 closed

[2016-12-17 01:08] retailcoder opened #29 "Overlay borked on Chrome?"
Caching?

![image](https://cloud.githubusercontent.com/assets/5751684/21283121/370e6d80-c3cb-11e6-9b29-1be516a85c3a.png)

Chrome 55.0.2883.87

[2016-12-17 01:20] retailcoder commented on #29
Yup, caching.

[2016-12-17 01:20] #29 closed

[2016-12-17 17:30] retailcoder opened #30 "Error page renders in-place?"
Not caching:

![image](https://cloud.githubusercontent.com/assets/5751684/21288552/7b984eb0-c454-11e6-8229-a6577aeb8b49.png)

Shouldn't it have redirected to the http500 error page?

[2016-12-17 18:54] EBrown8534 commented on #30
Ah, I forgot to check this.

[2016-12-17 18:57] #30 closed

[2016-12-18 19:00] EBrown8534 opened #32 "Example code for each Inspection"
I was thinking last night in the middle of the night that we should have example code blocks that would trigger each inspection on the detail page of the inspection.

We already have a template and style for a "mock VBE debugger" that we could use to make it look/feel like VBA code.

I.e.: for `Option Explicit Inspection`:

    Public Sub Test()
    End Sub

Would highlight line 1.

[2016-12-18 19:12] retailcoder commented on #32
I don't know about the highlighting, but I was thinking to add two resource strings per inspection the other day (looking at the generated "details" pages). One would be a snippet that triggers the inspection, the other would be a similar snippet that doesn't trigger it.

For example, this would trigger `UnassignedVariableUsage`:

    Private Sub DoSomething()
        Dim foo As Long
        Debug

[2016-12-28 11:19] ThunderFrame opened #33 "404 on a phone"
Chrome on Android
![tmp_21815-screenshot_20161228-221516-1634295208](https://cloud.githubusercontent.com/assets/16574009/21520808/8d922abe-cd4b-11e6-8e90-d2ab1178b2e0.png)

![tmp_21815-screenshot_20161228-221611-146596917](https://cloud.githubusercontent.com/assets/16574009/21520813/9a214a12-cd4b-11e6-9594-14f2ee6d1011.png)

[2016-12-28 19:48] ThunderFrame opened #34 "Add options to search/open issue for RubberduckWeb"
The website Contact page has links for opening an issue for Rubberduck-VBA, but not for RubberduckWeb. If a user spots a bug or has a feature request for the website, it would be useful to be able to link to the correct repo.

[2016-12-28 19:51] ThunderFrame opened #35 "Add github issue links on Inspection results page"
If you've just tried the online parser, and you get unexpected results, and you want to raise an issue, it would be useful to have links for creating an issue, or for browsing issues, on the Inspections page itself.

[2016-12-28 19:57] ThunderFrame opened #36 "Allow user to specify the host application for inspections"
Currently, Inspections seem to be tied to Excel, so code for Access, Word and other hosts yields less useful results.

The inspections page should allow the user to choose from a wider range of host applications (along with the references that might be available to those applications).

For example, running inspections on this Access snippet produces unmeaningful inspection results:

[code]

[2016-12-28 20:00] comintern commented on #36
Actually, having a list of available serialized references as checkboxes might be better - you'd get wildly different inspection results if you had both Word and Excel declarations loaded at the same time as opposed to just one of them.

[2016-12-28 20:05] ThunderFrame commented on #36
Aye, but I still think you'd need to specify which reference was host, so that the Application Globals were correctly handled.

If you know the host, and you know the order of references, there shouldn't be any problem having multiple declarations loaded at the same time?

[2016-12-28 20:36] retailcoder commented on #36
I don't think there's a host at all in RDWEB context - and that's what might explain the different results for the same code off the same RD build.

[2016-12-29 05:24] EBrown8534 commented on #33
*Unfortunately* that's controlled by bootstrap. The modal popup is out of my control.

The best I can do is scale it for HDPI screens. I'll look into this tonight.

[2016-12-29 05:50] EBrown8534 commented on #33
For HDPI screens I took most of the static width assignments out, centered the buttons, and made it span the whole screen. I'll try to get a screenshot up later (probably in the morning).

[2016-12-29 06:50] ThunderFrame opened #38 "Narrow broswer causes inspections textbox to overlap the list items above"
![narrowinspect](https://cloud.githubusercontent.com/assets/16574009/21538275/3d4bcd18-cdef-11e6-8605-92b9298a7e38.png)

[2016-12-29 15:30] #33 closed

[2016-12-29 15:30] #34 closed

[2016-12-29 15:30] #35 closed

[2017-01-17 14:34] retailcoder opened #39 "Inspections / "try me" box should list the available/loaded libraries"
It doesn't work right now, but the inspections / "try me" box is now loading the serialized xml files for a number of commonly used type libraries. The page should list these libraries *before* they're actually loaded, and perhaps even allow the user to select/deselect them.

[2017-01-17 14:37] retailcoder opened #40 "Inspections / "try me" box is not working"
Fixing this may require additional tweaks to the RubberduckTests project, where the mock VBE is defined. For some reason that remains to be investigated, the mock parser on the website doesn't parse anything, and when it does, the resolver doesn't seem to correctly annotate the deserialized declarations, leading to a lot of false positives being reported, that aren't when RD runs in the actual VBE

[2017-01-18 13:46] rdster opened #41 "Indenter issue - IF Else inside a Select Case not aligning correctly"
I have an If with multiple ElseIfs inside of a Select Case inside of a For loop.

The Indenter is mis-aligning the ElseIfs and everything else below with Case.  The actual code is much longer, but I think this reflects the issue.  Below is the code after running the Indenter...

[code]

[2017-01-18 13:51] comintern commented on #41
Hmmm... I'm getting this on my settings:
[code]
Can you upload your rubberduck.config file? It's in \Users\You\AppData\Roaming\Rubberduck

[2017-01-18 13:59] comintern commented on #41
@rdster - And I just noticed this was open against RubberduckWeb. This should be closed and re-opened on on the [Rubberduck](https://github.com/rubberduck-vba/Rubberduck/issues) repo.

[2017-01-18 15:07] retailcoder commented on #41
@rdster please confirm, are you running Rubberduck 2.0.11?

[2017-01-18 15:19] #41 closed

[2017-03-22 15:58] robodude666 commented on #40
Tried the web-based inspection and got the following exception:

[code]

Not sure if that helps :smile:.

[2017-03-22 16:12] retailcoder commented on #40
Oh great. Are you running the 2.0.13 release build (that's the build running on the website)?

If you could repro in the actual VBE and open up a new issue with the log details (the stack trace will include more precise information), would be awesome!

[2017-03-22 16:31] robodude666 commented on #40
I'm using whatever was in `master` as of 35 minutes ago.

[2017-03-22 16:44] retailcoder commented on #40
@robodude666 that would be the 2.0.13 code base as-released, which should repro the exception.

...interestingly, there are two lines that could possibly throw that exception in `UnassignedVariableUsageInspection`:

[code]

Why the two instructions are identical is extremely suspicious (@comintern [any ideas?](https://github.com/rubberduck-vba/Rubberduck/commit/0336253d9beed8ec659e9b43d01652a1ab2b

[2017-03-22 16:50] retailcoder commented on #40
Gah, just noticed that's the RD-WEB repo :man_facepalming:

[2017-09-12 14:35] Fl0x23 opened #43 "Remote repository login failed"
When I start excel and I try to connect with the remote repository (Login) than excel is terminated every time.
![grafik](https://user-images.githubusercontent.com/20031926/30331127-3bf792aa-97d7-11e7-840e-f9bc03b3b5ff.png)

[2017-09-12 14:53] retailcoder commented on #43
Hi,

Not sure which version you're using, but [this is definitely a known issue](https://github.com/rubberduck-vba/Rubberduck/issues?q=is%3Aopen+is%3Aissue+label%3Afeature-source-control). The integrated Source Control panel has been disabled by default in the later releases, it is now dubbed an "experimental feature" and needs to be explicitly enabled through Rubberduck settings.

The entire Sour

[2017-09-12 14:53] #43 closed

[2017-09-21 23:56] #21 closed

[2017-09-30 00:22] #40 closed

[2017-10-16 18:22] retailcoder opened #45 "Indenter page needs to warn about the indenter being case-sensitive"
The indenter relies on the VBE to fix casing. The online indenter needs to warn about case sensitivity somewhere.

[2017-10-19 21:01] retailcoder opened #46 "A parser error should show the parse error message"
Currently it only says it couldn't parse (or resolve), but we don't know why.

[2017-10-19 21:36] AlexC84 commented on #46
I get a parse error when inspecting some code I pasted into the web inspector. If I comment out my 'Implements' statement it parses fine

[2017-10-19 22:04] Vogel612 commented on #46
@AlexC84 could you please open this as a new issue with enough code so we can reproduce this?

[2017-10-19 22:28] retailcoder commented on #46
I'll have to check, but IIRC the web inspector creates a mock standard module, in which `Implements` would be illegal in the VBE... Though I don't think the parser cares about that... maybe the resolver does though.

[2017-10-19 22:29] AlexC84 opened #47 "RD Web Inspector fails to Parse 'Implements IClass'"
If I inspect the following single line of code using the RD web inspector:
`Implements IClass`

I get the following error returned:

If I comment out the Implements statement:
`'Implements IClass`

then the code is successfully parsed and warns me about a missing 'Option Explicit' as expected

[2017-10-30 06:35] CKlijs opened #48 "Cannot get source control to work"
After activating source control in the settings. I cannot get it to work properly. I made a local repository, no changes appear in the changes list.
See the error log included with this issue
[RubberduckLog.txt](https://github.com/rubberduck-vba/RubberduckWeb/files/1426163/RubberduckLog.txt)

[2017-11-01 02:02] Hosch250 commented on #48
Please post this on the main repo: https://github.com/rubberduck-vba/Rubberduck

[2017-11-01 02:02] #48 closed

[2017-11-16 19:47] MDoerner opened #49 "The web indenter does not understand one line if statements"
MCVE:

[code]

gets indented to

[code]

instead of

[code]

Doing the same in Rubberduck inside Excel produces the correct result.

[2017-11-16 20:12] retailcoder commented on #49
Given it's the exact same code performing the indentation... this looks like a very tricky thing to fix.

[2018-02-07 13:15] Inarion opened #50 "Enable HTTPS"
As @Vogel612 mentioned over in [Rubberduck-VBA](https://github.com/rubberduck-vba/Rubberduck/issues/3754#issuecomment-363742928) this is probably a more fitting place to talk about making the site viable for HTTPS.

I've somewhat recently created an SSL certificate for my own domain via [Let's Encrypt](https://letsencrypt.org/getting-started/) and - as far as I'm concerned - it was a rather simple

[2018-03-08 21:27] Vogel612 opened #51 "Remove Source Control advertising"
Since we removed SourceControl integration in rubberduck-vba/Rubberduck#3758, we should also remove it's advertising from the site.
This is a follow-up to rubberduck-vba/Rubberduck#3820

[2018-04-06 11:54] tdalon opened #52 "Dead link SourceControl page"
In this page http://rubberduckvba.com/SourceControl
the link to the wiki page explaining the feature does not work.
---
I am interested to know what this features does / if it also export / extract the code to files.
Couldn't find any doc in the wiki about this neither.
Maybe shall be an issue for this: https://github.com/rubberduck-vba/Rubberduck/wiki

[2018-04-06 12:03] bclothier commented on #52
@tdalon  we need to update the web page. The links are dead because we have discontinued the source integration. See [this closed issue in our Rubberduck repository](https://github.com/rubberduck-vba/Rubberduck/issues/3758). To use Rubberduck with your source control, you should use the Export functionality which is still available for easily importing / exporting files en masse and you would use

[2018-04-06 12:04] retailcoder commented on #52
The website will be updated over the weekend with the release of v2.2 (needs the 2.2 build for the inspections page).

[2018-04-06 12:26] retailcoder commented on #52
Essentially the feature provided a dockable panel similar to Visual Studio's *Team Explorer*, but it was hard-wired to work with git, and had a number of bugs that made it rather unstable and annoying. Since providing source control tooling is only marginally in-scope for Rubberduck, we chose to remove the buggy feature instead of devoting our limited time & resources to it. The feature might re-e

[2018-04-08 21:15] retailcoder commented on #52
Removed the page, updated website will be deployed once we have the final 2.2 build.

[2018-04-08 21:15] #52 closed

[2018-04-08 21:15] retailcoder commented on #51
done

[2018-04-08 21:15] #51 closed

[2018-04-08 21:17] retailcoder commented on #47
Updated the website with a 2.2 (pre-release) build - could not get the inspection settings loaded... update site no longer features online inspector. Closing this issue for now.

[2018-04-08 21:17] #47 closed

[2018-04-08 21:17] retailcoder commented on #39
no longer applicable as of 2.2 (online inspector removed)

[2018-04-08 21:17] #39 closed

[2018-04-17 07:46] Inarion commented on #50
I've just come across [this article describing some state-level shenanigans with insecure download sites](https://citizenlab.ca/2018/03/bad-traffic-sandvines-packetlogic-devices-deploy-government-spyware-turkey-syria/). While I'm well aware that a VBA add-in would likely never be popular enough to become a target for such actions, I still think that one should at least try to make the internet mor

[2018-04-20 05:39] Inarion commented on #50
I'll leave a short summary from chat regarding this topic:
It appears the current domain host (GoDaddy) does not support LetsEncrypt and likely won't in the future. The current contract with GoDaddy expires early 2019. @retailcoder 's plan is to not renew the contract and then transfer the domain to a different host (Azure?) that seems to be better in about all aspects. Once the new host is in pla

[2018-05-01 16:37] bsacheri opened #53 "Does Rubberduck have a source control feature?"
Google shows a link to this page but the page has errors.
[rubberduckvba.com/SourceControl](url)

The cached version of this page is:
[http://webcache.googleusercontent.com/search?q=cache:oLO0Ksa1AkcJ:rubberduckvba.com/SourceControl+&cd=1&hl=en&ct=clnk&gl=us](http://webcache.googleusercontent.com/search?q=cache:oLO0Ksa1AkcJ:rubberduckvba.com/SourceControl+&cd=1&hl=en&ct=clnk&gl=us)

It's not clear

[2018-05-01 16:37] bsacheri opened #54 "Does Rubberduck have a Source Control feature?"
Google shows a link to this page but the page has errors.
[rubberduckvba.com/SourceControl](url)

The cached version of this page is:
[http://webcache.googleusercontent.com/search?q=cache:oLO0Ksa1AkcJ:rubberduckvba.com/SourceControl+&cd=1&hl=en&ct=clnk&gl=us](http://webcache.googleusercontent.com/search?q=cache:oLO0Ksa1AkcJ:rubberduckvba.com/SourceControl+&cd=1&hl=en&ct=clnk&gl=us)

It's not clear

[2018-05-01 16:39] bsacheri commented on #53
I was trying to captialize the title when I hit a key that made my browser open the post a new window, thus saving the post.  This is now a duplicate.  You can delete either #53 or #54.

[2018-05-01 16:40] #54 closed

[2018-05-01 16:42] IvenBach commented on #54
RD did have source control feature. https://github.com/rubberduck-vba/Rubberduck/pull/3782 It was decided to remove in favor of maintaining, because of limited resources, as it had been somewhat troublesome feature.

[2018-05-01 16:45] retailcoder commented on #53
An in-IDE integrated source control panel akin to Visual Studio's *Team Explorer* has been a wet dream since the project's beginning, and we were getting pretty close, however there were **a lot** of annoying issues and since Rubberduck is such a huge project and we are a relatively small team with limited time and resources, a decision was made to drop the feature, and [announced shortly before t

[2018-06-06 23:54] chrisneilsen opened #55 "Parser Error reported on certain For Next loop structure"
Write a nested `For Next` in the form

    For x = a To b
    For y = c To d
        ' ...
    Next y, x

throws a Parser Error on the `Next y, x`

[2018-06-07 17:57] retailcoder commented on #55
Thanks for reporting this, I never knew this was legal! Mind opening this issue on the [main Rubberduck repository](https://github.com/rubberduck-vba/Rubberduck/issues/new) though?

[2018-08-23 16:51] IvenBach opened #56 "Broken link on wiki Code-Inspections current release"
https://github.com/rubberduck-vba/Rubberduck/wiki/Code-Inspections#current-release has a broken link http://rubberduckvba.com/Inspections/Details/ImplicitByRefParameterInspection

As well as https://github.com/rubberduck-vba/Rubberduck/wiki/Code-Inspections#pre-release for the link https://github.com/rubberduck-vba/Rubberduck/tree/next/Rubberduck.Inspections/Concrete

[2018-10-24 16:32] Hosch250 opened #58 "Website revamp"
1. Works on Mobile
2. GitHub webhook to get the latest release version (and maybe trigger updating the DLLs for the web--we'll see)
3. Cleaner way to update content
3.1. Generate inspection pages from XML content
3.2. Other page content (.md?)
4. New look
5. Still possible to run RD features online (indenter, inspections, etc.)
6. Host docs as .md files in web repo and display as content on websit

[2018-10-24 16:46] EBrown8534 commented on #58
I'd recommend moving to a full-fledged [Bootstrap](https://getbootstrap.com) or [Foundation](https://foundation.zurb.com) setup for 1 and 4.

[2018-10-24 16:47] Hosch250 commented on #58
I'm pretty familiar with Bootstrap, so that was my plan.

[2018-10-24 16:48] EBrown8534 commented on #58
The groundwork is already there (CSS / JS / Favicons) but that was 3.3 IIRC, might be worth updating to V4, and redoing the layout to support.

[2018-10-24 16:55] EBrown8534 commented on #58
For point 2:

We did have a `Version` endpoint:

https://github.com/rubberduck-vba/RubberduckWeb/blob/f28612b9afc6859de5f63bb01231e8ff0c778b36/RubberduckWeb/RubberduckWeb/Controllers/BuildController.cs#L24

Would probably be trivial to use that.

IIRC @retailcoder was manually updating the DLL's, then publishing the site. So the "release" version was derived from the website DLL's, which meant Rub

[2018-10-24 16:56] EBrown8534 commented on #58
You're more familiar with inspections and indenter than I ever was, so you're probably quite well suited for 5, because I had to get a lot of help from @retailcoder again to get those working right.

[2018-10-24 16:56] Hosch250 commented on #58
Yes. The idea is to keep this and make the update automatic for the release version. I'm less certain about the actual update (we'll be hosting it on Azure), but I think it can be done.

[2018-10-24 16:59] Hosch250 commented on #58
I wonder if I can do this with .NET Core. They have a built-in DI system.

[2018-10-24 17:13] EBrown8534 commented on #58
If Rubberduck DLL's are built for .NET Framework, then Core won't work. If you can re-target them to .NET Standard, then Core will work fine. (We've experimented with this a lot at work.)

[2018-10-24 17:15] Hosch250 commented on #58
Awesome. That's not really an option ATM, so I'll do the website on .NET Standard or .NET Framework, whichever ASP.NET MVC supports.

[2018-10-24 17:18] EBrown8534 commented on #58
The website will have to be .NET Framework, because Rubberduck is Framework. Standard isn't really a runtime, it's an SDK target, so if you target Standard you cannot use anything from Framework, even if it runs on Framework. (Does that make sense?) Standard doesn't have appropriate AppDomain stuff to do it dynamically, either.

[2018-10-24 17:19] Hosch250 commented on #58
Yes, that makes sense.

[2018-11-12 16:23] eparker28 opened #60 "Feature Request"
It would be nice to have the ability to color-code strings in code (like in Visual Studio). Any plans for such a feature?

[2018-11-29 11:35] Vogel612 opened #61 "Accessibility and SEO issues"
We've received an email to contact@ that included some useful starting points for Accessibility and SEO that may be worth looking into:

 - Images without alt-text
 - Pages without `<meta>` (honestly not sure how applicable that is)
 - 4xx status codes
 - broken links

[2019-03-21 05:52] GadgetSteve opened #63 "Website still mentions Source Control"
The headline of the web page reads "From unit testing to **source control**, from code inspections to refactorings, programming in VBA will never be the same."

However, #3758 triggered the removal of source control (git) from the project - the recommendation is to use the Export feature and then version control the resulting file(s) or structure. Maybe changing the phrase above to read something

[2019-03-27 02:31] retailcoder commented on #63
Hey @GadgetSteve, thanks for reporting this - you're right: the website is terribly outdated, it desperately needs a refresher! I've transferred this issue over to the website's own repository, so it can be tracked and closed when a commit fixes it. Cheers!

[2019-06-02 20:08] rubberduck203 opened #68 "Website should have a favicon and title"

[2019-06-02 20:08] #68 closed

[2019-06-03 13:29] daFreeMan opened #69 ""Contact us" page needs a graphics tweek"
The fade behind the headers probably shouldn't go all the way to white:
![2019-06-03 09_28_26-Rubberduck - Contact](https://user-images.githubusercontent.com/11889733/58805454-1997e980-85e2-11e9-9895-7fb95fbf1979.png)

Text is a bit hard to read on the longer strings...

[2019-06-04 02:41] #63 closed

[2019-06-04 02:42] #56 closed

[2019-06-04 02:43] #55 closed

[2019-06-04 02:53] #45 closed

[2019-06-04 02:58] retailcoder commented on #49
That would be the regex here:

https://github.com/rubberduck-vba/Rubberduck/blob/dea7220302fc660d328e2b77b8a8a9df048a46a3/Rubberduck.SmartIndenter/AbsoluteCodeLine.cs#L21

[2019-06-04 03:00] retailcoder commented on #32
This is now live! 🎉

[2019-06-04 03:00] #32 closed

[2019-06-04 03:01] #53 closed

[2019-06-04 03:19] #69 closed

[2019-07-03 17:55] Zomis commented on #50
I started using Let's Encrypt for my site(s) last year and I also recommend Let's Encrypt.

[2019-12-29 14:01] rubberduck203 opened #75 "Inspections list doesn’t render well on mobile"
The current inspections list view renders as a table with two columns. When viewing on mobile, only the first of the two table columns is visible.

I would recommend rendering the list as a `<ul/>` and using CSS `columns` to automatically render the number of columns that will fit on screen.

https://developer.mozilla.org/en-US/docs/Web/CSS/columns

[2019-12-29 14:30] #61 closed

[2020-02-11 19:29] retailcoder opened #76 "Link to original Smart Indenter page is dead"
Should we replace the dead link with a [Wayback Machine](https://web.archive.org/web/20180806191001fw_/http://www.oaltd.co.uk/Indenter/Default.htm) link to the original page, or just rework that paragraph?

[2020-02-11 19:56] Vogel612 commented on #76
I personally would prefer linking to wayback, if only to simplify attribution (because the previous work we built on was quite extensive).

[2020-04-15 17:02] IvenBach opened #77 "Add annotations list to main site"
https://rubberduckvba.wordpress.com/2019/12/14/rubberduck-annotations/ and https://github.com/rubberduck-vba/Rubberduck/wiki/VB_Attribute-Annotations contain information for the annotations but nothing is found on the main site. If http://rubberduckvba.com/Annotations was added to the site as one of the links at the top it would increase discoverability.

[2020-04-15 20:32] MDoerner commented on #77
Related to https://github.com/rubberduck-vba/Rubberduck/issues/5380

[2020-04-29 16:05] sh67 opened #78 "Home page returns error"
When navigating to [rubberduckvba.com](rubberduckvba.com), the follow error is returned.

Error.
An error occurred while processing your request.

This occurs when using Chrome on Win 10 Enterprise with all extensions turned off. (Chrome 81.0.4044.129 (Official Build) (64-bit))
This also occurs with IE 11 (because company-provided machine).

[2020-04-29 17:09] retailcoder commented on #78
Thanks for the heads-up, I'm aware of the situation and currently working (as time allows) on getting the GitHub-provided content back online. Thinking the API limits were busted because of how the download stats are compiled...
When the (full) site returns it'll be persisting that content to a database, and additional GitHub-provided content will be added (namely, example pages for Rubberduck ann

[2020-04-29 18:21] sh67 commented on #78
I appreciate the quick reply. And I apologize for filing a report for something which was a known issue. I realize no one needs additional reports for known issues, especially for something you're doing in your own spare time.

I'm going to close this. If it needs to remain open for some reason, please feel free to reopen it.

[2020-04-29 18:23] retailcoder commented on #78
Nah it's fine - I should have made an issue for it anyway. I'll reopen this one and reference it when I create the PR.

[2020-05-10 08:18] retailcoder commented on #78
Updated website is published - still missing screenshots, but no longer blowing up :)

[2020-05-10 08:18] #78 closed

[2020-05-10 08:23] retailcoder commented on #58
Closing this - most content is now retrieved from a SQL Server database with Dapper, and updated from a scheduled task (a .NET Core console app!) running on my own server (i.e. updating the data is no longer the website's job).

Controllers, routing, views have been cleaned up - the only thing missing is a mobile-friendly stylesheet.

[2020-05-10 08:23] #58 closed

[2020-05-10 08:25] retailcoder commented on #75
Looks pretty neat now (albeit not mobile-specific), with pagination and collapsible panels. Best viewed in landscape :)

[2020-05-10 08:25] #75 closed

[2020-05-10 08:34] retailcoder commented on #77
Current content was loaded from the Rubberduck.Parsing.xml asset off the CI build for the WIP PR that will start publishing this xmldoc data.

Since the content is up, I'm closing this issue - the related pending work is on the RD repo.

[2020-05-10 08:34] #77 closed

[2020-05-14 08:14] retailcoder commented on #50
Completed (still GoDaddy but eh)

[2020-05-14 08:14] #50 closed

[2020-05-15 09:57] retailcoder commented on #76
done

[2020-05-15 09:57] #76 closed

[2020-05-15 09:57] #49 closed

[2020-06-02 08:44] APATRI0T opened #79 "404 Pictures"
https://rubberduckvba.com/Features/Details/SmartIndenter
https://rubberduckvba.com/Images/Features/feature-item-smart-indenter-settings.gif

somebody deleted "Features" folder

[2020-06-02 13:57] retailcoder commented on #79
Thanks, I haven't taken all the screenshots I want yet - focused more on the structure of things (better routing, pagination) and getting GitHub authentication to work for the admin site 😄

I've put up a "this site is under reconstruction" banner in the meantime - I have more changes to deploy later today, inspections are getting organized into tabs.

The plan is to 1) finish the main site layout

[2020-06-04 09:18] APATRI0T commented on #79
Ok)

[2021-01-23 11:40] koppor opened #80 "404 for AssertAPI"
1. Open https://rubberduckvba.com/Features/Details/UnitTesting
2. Click on More
   ![image](https://user-images.githubusercontent.com/1366654/105577150-24cff800-5d78-11eb-8187-a4b81caac57b.png)
3. <https://rubberduckvba.com/Features/FeatureItem/AssertAPI> is 404.

[2021-01-23 14:29] Vogel612 commented on #80
Thanks for raising this issue. As the banner on the website states, this website is currently undergoing a significant change and rebuilding. I've pinged our lead dev internally to see whether I can help sort this out.

[2021-02-04 08:02] retailcoder commented on #80
The feature details page on my local build is correctly no longer showing a "More" button for feature items that don't have an `XmlItem`, such that the only items that can drill further than "feature item" level are those parsed from XmlDocs.

![image](https://user-images.githubusercontent.com/5751684/106861934-6f187980-6694-11eb-9b93-2f6e3cd2c892.png)

My dev environment has been down for quite a

[2021-02-04 08:04] retailcoder commented on #80
That said the "no xmldocs, no further details" solution is kind of 😒 meh. The schema should probably support additional feature item details when necessary.

[2021-02-15 03:45] BluejacketSoftware opened #81 "Assert Exception Thrown?"
Gosh, I could SWEAR I saw that I can check for custom exceptions but for the life of me, I can't find the docs.  Is this possible or am I confusing RD with another test framework?

[2021-02-15 04:04] BluejacketSoftware commented on #81
Trial and error - I found it:
[code]

[2021-02-15 04:04] #81 closed

[2021-10-13 15:41] Greedquest opened #83 "Smart Indenter is broken"
https://rubberduckvba.com/Indenter

![image](https://user-images.githubusercontent.com/25348920/137165566-cdcb9877-bf73-449d-8f10-121d69d7d3d0.png)
Tiny box, always loading.

I know the website is under reconstruction but it's been like this for a while and maybe it's an easy fix. I like the online indenter for reformatting CR/SO posts without opening Excel.

[2022-01-16 15:11] BStrauss3 opened #84 "Inappropriate "can be written as a function" opportunity"
Sub Increment(ByRef l as Long)
  l = l + 1
End Sub

Usage:

Increment account

Is flagged as "can be written as a function". Not sure this is really any better:

Function Increment(ByVal l as Long) as Long
   Increment = l + 1
End Function

Usage:

account = Increment(account)

[2022-01-16 15:19] retailcoder commented on #84
In this particular case the ideal suggestion should probably be an *inline at call sites* refactoring!

Note that it's a *suggestion* that you are absolutely free to ignore. As far as I can tell it's working exactly as designed here; I agree that for a one-liner scope it's a bit awkward, but generally speaking a `Sub` procedure that takes a single `ByRef` parameter and assigns to it, can indeed be

[2022-04-20 10:41] kimbar opened #85 "Unhandled exception at exit"
I get this every time I leave Excel.

[unh_exc.txt](https://github.com/rubberduck-vba/RubberduckWeb/files/8520759/unh_exc.txt)

[2022-05-06 16:31] SapsHaven opened #86 "404 error for Unit Testing links"
None of the "More >>" links rendered in https://rubberduckvba.com/Features/Details/UnitTesting work for me.  They all give 404 errors.  These are API links for Fakes and Assert, and for Test Explorer.

For example, this button/link:

![image](https://user-images.githubusercontent.com/12617722/167174131-6e6b6620-e275-4129-851c-ec2fb2a52fda.png)

Produces this error page:

![image](https://user-imag

[2022-08-27 00:55] jhgarrison opened #89 "MX Record points to unknown SMTP host?"
Tried to send email to contact@rubberduckvba.com but it bounced.

While you have a valid MX record in DNS, it points to a non-existent host:

[jhg@janus ~]$ dig rubberduckvba.com mx
; <<>> DiG 9.11.36-RedHat-9.11.36-4.el8 <<>> rubberduckvba.com mx
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 48653
;; QUESTION SECTION:
;rubberduckvba.com.             IN      MX
;; ANSWER SECTION:
rubberduckv